@import url(./common/reset.css);

/* ページ全体 */
.page {
    font-size: 16px;
}

/* ヘッダー */
.site-header {
    background-color: #E6B422;
    height: 30px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    .site-header__container {
        height: 100%;
        padding: 5px 10px;
        width: 100%;
    }

    .site-header__logo {
        align-items: center;
        color: white;
        font-weight: bold;
        display: flex;
        height: 100%;
        justify-content: center;
        width: fit-content;
    }
}

/* メインコンテンツ */
.main-content {
    height: 2000px;
    margin: 0 auto;
    max-width: 1000px;
}

/* 資産一覧表 */
.assets-list {
    padding-top: 30px;
    width: 100%;

    .assets-list__header {
        display: flex;
        margin: 32px 0 16px;
        width: 100%;
    }

    .assets-list__title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .assets-list__button-group {
        display: inline-flex;
        gap: 10px;
        margin-left: auto;
    }

    .assets-list__button {
        border: 1px solid black;
        border-radius: 5px;
        display: inline-flex;
        gap: 5px;
        padding: 5px;

        .assets-list__button-icon {
            height: 20px;
        }

        .assets-list__button-label {
            font-size: 1rem;
        }
    }

    /* 表 */

    .assets-list__table {
        width: 100%;

        /* 表見出し */

        .assets-list__table-head {
            background-color: #E6B422;
            width: 100%;
        }

        .assets-list__table-heading {
            height: 100%;
            vertical-align: middle;
        }

        /* 表本体 */

        .assets-list__table-body {
            border-left: 1px solid black;
            border-right: 1px solid black;
            width: 100%;
        }

        /* 行 */

        .assets-list__table-row {
            border-bottom: 1px solid black;
            height: 40px;
        }

        .assets-list__table-row--head {
            border-bottom: unset;
        }

        /* データ関連 */

        .assets-list__table-data {
            height: 100%;
            vertical-align: middle;
        }

        .assets-list__table-data--checkbox {
            white-space: nowrap;
            width: 1px;
        }

        .assets-list__table-data--operation {
            padding-right: 30px;
            white-space: nowrap;
            width: 1px;
        }

        /* チェックボックス */

        .assets-list__table-checkbox {
            appearance: auto;
            -webkit-appearance: auto;
            height: 16px;
            margin: 0 30px;
            width: 16px;
        }

        /* ボタン関連 */

        .assets-list__action-buttons {
            display: flex;
            gap: 10px
        }

        .assets-list__action-button {
            border-radius: 5px;
            border: 1px solid black;
            display: inline-flex;
            gap: 5px;
            padding: 5px;
        }

        .assets-list__action-icon {
            height: 16px;
        }

        .assets-list__action-label {
            font-size: 0.875rem;
        }
    }
}